.home {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Century Gothic", sans-serif;
  background-color: #3C9858;
  color: #E8ECEF;
}

.title {
  position: absolute;
  top: 150px;           /* Distance from the top of the page */
  left: 50%;            /* Center horizontally */
  transform: translateX(-50%); /* Adjust for perfect centering */
  font-size: 100px;
  white-space: nowrap;
}

.playButton {
  margin-top: 100px;
  padding: 16px 36px;
  font-size: 50px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #565757;
}
