.play {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Century Gothic", sans-serif;
  background-color: var(--green);
  color: #E8ECEF;
  font-family: 'BrickSans', 'sansserif';
}

.opponent {
  position: absolute;
  top: 2vh;
  right: 0;
  display: flex;
  align-items: center;
  gap: 2vw; 
  z-index: 1000;
  font-size: 2vw;
  background-color: #1054e5;
  padding: 1vh 2vw 1vh 5vw;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

.opponent p {
  margin: 0;
}

.opponentScore {
  cursor: pointer;
}

.you {
  position: absolute;
  top: 2vh;
  left: 0;
  display: flex;
  align-items: center;
  gap: 2vw;
  z-index: 1000;
  font-size: 2vw;
  background-color: #dec200;
  padding: 1vh 7vw 1vh 2vw;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
}

.you p {
  margin: 0;
}

.yourScore {
  cursor: pointer;
}

.finishGameButton {
  bottom: 2vh;
  right: 5vw;
  position: fixed;
  padding: 0.7vh 0.7vw;
  font-size: 2.5vw;
  font-weight: bold;
  border-radius: 0.5vw;
  cursor: pointer;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.finishGameButton:hover {
  color: var(--gray);
}

.playSettingsButton {
  position: fixed;
  bottom: 2vh;
  right: 1vw;
  padding: 0.7vh 0.7vw;
  font-size: 2.5vw;
  font-weight: bold;
  border-radius: 0.5vw;
  cursor: pointer;
  background-color: var(--green);
  color: var(--red-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.playSettingsButton:hover {
  color: var(--gray);
}

.resultMessage {
  position: absolute;
  top: 50%;         
  left: 50%;         
  transform: translate(-50%, -50%);
  padding: 2vh 4vw;
  font-size: 6vw;
  border-radius: 1vw;
  background-color: var(--red);
}

.imageContainer {
  top: 75px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
