#foosball-table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #foosball-table canvas {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
  }