.tutorial-content {
    margin-top: 2vh;
    max-height: 60vh;
    overflow-y: auto;
    font-family: 'BrickSans', sans-serif;
    text-align: left;
}

.tutorial-content li {
    margin-bottom: 1vh;
}

.controls-link {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.controls-link:hover {
    color: var(--yellow)
}